@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display.wght@500&display=swap");

:root {
  --footer-background: #0e1219;
  --gray: #595c61;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Red Hat Display", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: black;
  background-image: url("img/BackGround.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* Navbar yang diposisikan tetap */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333; /* Ganti dengan warna latar belakang yang diinginkan */
  color: #fff; /* Ganti dengan warna teks yang diinginkan */
}

/* Container untuk mengatur konten di dalam navbar */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

/* Logo di sebelah kiri */
.logo {
  font-size: 24px; /* Ukuran font logo */
}

/* Daftar menu di sebelah kanan */
.menu {
  list-style: none;
  display: flex;
}

.menu li {
  margin-right: 20px; /* Jarak antara item menu */
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  text-decoration: none;
  color: #fff; /* Warna teks item menu */
}
.mobile-menu-toggle {
  display: none;
  cursor: pointer;
  font-size: 24px;
  color: #fff;
  margin-left: 20px;
}

/* Menerapkan gaya responsif */
@media (max-width: 768px) {
  .menu {
    display: none; /* Sembunyikan menu saat lebar layar kecil */
  }

  .menu.active {
    display: flex; /* Tampilkan menu saat tombol menu diklik */
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #333;
    width: 100%;
  }

  .menu.active li {
    margin: 10px 0;
  }

  .mobile-menu-toggle {
    display: block;
  }
}

.title {
  margin-top: 240px;
  margin-bottom: 260px;
  text-align: center;
}

.title h1 {
  background: #ffffff;
  background: linear-gradient(to bottom right, #ffffff 0%, #ff0000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title hr {
  width: 380px;
}

.title p {
  color: lightgray;
}

.isi {
  margin: 10px;
  margin-bottom: 50px;
  background-color: #333;
  border-radius: 5px;
  color: #ddd;
}

.isi h2 {
  text-align: center;
  color: aquamarine;
}

.isi p {
  margin: 5px;
}

.isi-title {
  width: 380px;
  margin: auto;
  text-align: center;
}

.isi-title h2 {
  color: white;
}

.isi-title p {
  font-size: 25px;
}

.title-content {
  padding-top: 70px;
}

.Wisata,
.Kuliner {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
}

.Sejarah {
  margin-top: 10px;
}

.judul-text h3 {
  margin: 5px;
}

.text-sejarah {
  justify-content: center;
  margin: 10px;
  border-radius: 5px;
  border: 2px solid lightgray;
  width: 98%;
}

.text {
  margin: 10px;
  width: 340px;
  border-radius: 5px;
  border: 3px solid lightgray;
}

.text img {
  margin: 5px;
  width: 240px;
  height: 160px;
}

.Akhir {
  bottom: 0;
}

footer {
  padding: 16px;
  /* position: absolute; */
  bottom: 0px;
  background-color: var(--footer-background);
  color: white;
  min-width: 300px;
  width: 100%;
  bottom: 0px;
  display: flex;
  justify-content: center;
}

.footer-wrapper {
  display: flex;
  background-color: var(--footer-background);
  flex-direction: column;
}

.footer-columns ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-columns ul a {
  color: white;
  text-decoration: none;
}

.footer-columns ul a:hover {
  text-decoration: underline;
}

.footer-columns ul li {
  margin-bottom: 16px;
}

.logo {
  width: 40px;
}

.social-links {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.social-links img {
  width: 24px;
  height: 24px;
  transition: all 0.2s ease-in-out;
}

.social-links img:hover {
  transform: scale(1.1);
}

.footer-top {
  display: flex;
  max-width: 800px;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px 0px;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray);
}

.footer-columns {
  padding-top: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}

.footer-columns h3 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 1.125rem;
}

.footer-columns > section {
  min-width: 180px;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid var(--gray);
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 8px;
  padding: 16px 0px;
  flex-wrap: wrap;
}

.footer-bottom-links {
  margin-left: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

@media (max-width: 800px) {
  .footer-bottom-links {
    margin: 0 auto;
  }
}

.footer-bottom-links a {
  color: white;
  text-decoration: none;
}

.footer-bottom-links > a:hover {
  text-decoration: underline;
}

.footer-bottom > small {
  font-size: 16px;
  margin: 0 4px;
}
